.about-logo {
  font-size: 37px;
  font-weight: 500;
  font-family: 'Bowlby One SC';
  letter-spacing: 4px;
  line-height: 0;
}

.about-modal-container {
  background-color: rgb(68, 68, 68);
  border-radius: 10px;
  color: white;
  padding: 34px;
  max-width: 520px;
}

.about-modal-container p {
  line-height: 1.4;
}

a {
  text-decoration: none;
  color: rgb(90, 186, 250);
  padding: 0 5px 0 5px;
  transition: 200ms;
}

a:first-of-type {
  margin: 0;
}


a:hover {
  transform: scale(1.1);
  color: white;
  transition: 200ms;
}

i {
  margin-right: 4px;
}

.about-modal-container h4 {
  margin-bottom: 9px;
}