@import-normalize;

li {
  list-style: none;
}

.samplesList {
  margin: 0;
}

html, body {
  min-height: 100%;
}

body {
  margin: 0;
  font-family: 'IBM Plex Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(#474747, #000000);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
