.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-name: emerge;
  animation-duration: 0.3s;
  /* width: 588px; */
  margin: auto;
}
/* 
@media screen and ( max-width: 588px ) {
  .modal-child {
    padding: 0 15px;
    align-self: baseline;
  }
} */

@keyframes emerge {
  0% {
    transform: scale(0.5, 0.5) translate(-75%, -75%);
    opacity: 0;
  }
  60% {
    transform: scale(1.03, 1.03) translate(-49%, -49%);
    opacity: 0.7;
  }
  100% {
    transform: scale(1, 1) translate(-50%, -50%);
    opacity: 1.0;
  }
}