.sample {
  background-color: rgb(126, 197, 219);
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 0 12px rgb(22, 150, 255, 0);
  transition: 200ms;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sample:hover {

  transition: 200ms;
  box-shadow: 0 0 12px rgb(22, 150, 255, 1);
}

.sample:active {
  transition: 80ms;
  background-color: rgb(255, 241, 41);
  box-shadow: 0 0 12px rgb(255, 117, 5);
}

.sample-name {
  color: #3a3a3a;
  /* color: rgb(255, 243, 75);
  text-shadow: 0 0 12px rgb(160, 75, 5); */
  font-weight: 1000;
  font-size: 16px;
}