#sampler {
  display: grid;
  grid-template: repeat(2, 100px) / repeat(4, 100px);
  gap: 20px;
  padding: 60px 40px;
  margin: 0 auto;
  background-color: cornflowerblue;
  border: 20px ridge rgb(120, 160, 235);
}
