#sampler {
  display: grid;
  grid-template: repeat(2, 100px) / repeat(4, 100px);
  gap: 20px;
  padding: 60px 40px;
  text-align: center;
}


.sample-section-container {
  min-width: 100%;
  display: flex;
  justify-content: center;
}