.sample {
  background-color: rgb(126, 197, 219);
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 0 12px rgb(22, 150, 255, 0);
  transition: 300ms;
}

.sample:hover {
  border-style: outset;
  transition: 300ms;
  box-shadow: 0 0 12px rgb(22, 150, 255, 1);
}

.sample:active {
  border-style: inset;
}